<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
    大家的聊天室,正在热聊中:
      <ul id="ul">
        
      </ul>

     <form id="form">
        <input type="text" name="nickname">
        <input type="text" name="content"> 
        <button>发送</button>
     </form>
    
  <script src="/socket.io.js"></script>
  <script type="text/javascript">
      const socket = io('http://localhost:8888');
      socket.on('connect', function(){
        console.log('连接上了');
      });
      socket.on('message', function(data){
        console.log('收到服务器的message了',data);
      });
      socket.on('disconnect', function(){
        console.log('断开连接了');
      });

      // 客户端对服务器说
      socket.emit('toserver','你好!!!');

      // 客户端接收服务器信息
      socket.on('toclient',function (data) {
          console.log('我先向服务器发了消息,服务器回给我的是:',data)
      });


      // 注意:开始实现需求了,发起消息以后,给服务器,让服务器广播到所有的客户端
      var inputs = document.querySelectorAll('input');

      document.querySelector('#form').onsubmit = function(e) {
        var nickname = inputs[0].value;
        var content = inputs[1].value;
        // 禁止默认事件
        e.preventDefault();

        //发消息到服务器
        socket.emit('broadcast',{
          nickname,content
        });

      }

      // 接收服务器广播
      socket.on('toAll',function(data) {
        //  需要给原来的列表中加入一条消息
        var ul = document.getElementById("ul");
        // 创建一个Li
        var li = document.createElement('li');
        li.innerText = data;
        ul.appendChild(li);
      })



  </script>

</body>
</html>